<div class="movie-add-edit h-fit w-[70vh] bg-white h-[90vh] text-zinc-500">
  <div class="form p-4 grid grid-rows-4 grid-cols-2 gap-x-10 gap-y-10">
    <div class="form-item flex flex-col">
      <label for="title">Title</label>
      <input type="text" id="title" placeholder="Default input"/>
    </div>
    <div class="form-item flex flex-col">
      <label for="title">Year</label>
      <input type="text" id="year" placeholder="Default input"/>
    </div>
    <div class="form-item flex flex-col">
      <label for="title">Director</label>
      <input type="text" id="director" placeholder="Default input"/>
    </div>
    <div class="form-item flex flex-col">
      <label for="title">Stars</label>
      <input type="text" id="stars" placeholder="Default input"/>
    </div>

  </div>
</div>
