<div class="paginator flex flex-row space-x-10">
  <button mat-raised-button [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>

  <div class="page-number-contianer flex flex-row space-x-3">
    <button mat-stroked-button class="page-number-button px-2 py-1" *ngFor="let e of [].constructor(numberOfPage); let page_number = index" [id]="page_number+1"
      [style.background-color]="currentPage === page_number+1 ? '#c2185b' : ''"
            (click)="setPage($event)"
    >
      {{page_number+1}}
    </button>
  </div>

  <button mat-raised-button [disabled]="currentPage === pages" (click)="nextPage()">Next</button>
</div>
